.component-box {

    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.date-box {
    display: flex;
}

.component-inner-box {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.day-box {
    font-size: 36px;
}

.time-box {
    font-size: 50px;
    letter-spacing: 0.025em;
}