
.weather-container {
    display: flex;
    flex-direction: column;
}
  
.weather-container i {
    /* position: absolute; */
    align-items: start;
    justify-content: center;
    display: flex;
    height: 143px;
    width: 100px;
}

.temp {
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    border: "1px solid red";
    /* background-color: aqua; */
    margin-top: 10px;
}

.cloud {
  height: 100;
  width: 100;
}
  
  
 