.main-pane {
    min-height: 100vh;
    display: flex;
    background: linear-gradient(243.18deg, #9065BC 0%, rgba(255, 0, 108, 0.38) 100%);
    font-family: 'Roboto';
}


.left-pane {
    width: 65%;
    padding-left: 50px;
}
.right-pane {
    width: 35%;
    position: relative;
}

.opaque-side-pane {
    background: #D6D6D6;
    opacity: 0.1;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.clock-box {
    height: 300px;
    display: flex;
    justify-content: space-around;
}
